@import "tailwindcss";
@import "tailwindcss-animated";

html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"font-cartograph";
}

.bg-opacity {
   background-color: rgba(0,0,0,0.8);
}